{% extends 'layout' %}

{% block content %}

<div class="blog limited-width">
	<article class="post post-detail limited-width">
		<div class="metadata">
			<span class="date">{{ post.date.format('l, F jS Y') }}</span>
			{% include 'partials.blog-authors' %}
		</div>

		<div class="title">
			<h1>{{ post.title }}</h1>
		</div>

		{{ post.content|raw }}
	</article>
</div>

{% endblock %}
