<!doctype html>
<html>

<head>
	<meta charset="utf-8">
	<title>underground.works</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="{{ mix('assets/app.css') }}">

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
</head>

<body class="text-zinc-950 font-[Lato] overflow-x-hidden">

	{% block content %}{% endblock %}

	<footer class="text-center text-sm py-16">
		<p>info@underground.works</p>
		<p>underground.<del>works</del></p>
	</footer>

	<script src="{{ mix('assets/app.js') }}"></script>

</body>

</html>
