.blog {
	.post {
		line-height: 1.7;
		margin: 50px auto 80px;

		.metadata {
			align-items: flex-end;
			color: #666;
			display: flex;
			font-size: 85%;
			justify-content: space-between;
		}

		.title {
			line-height: 1.2;

			&:hover {
				text-decoration: none;

				h1 {
					text-decoration: underline;
				}
			}

			h1 {
				font-size: 175%;
				font-weight: 700;
				margin-bottom: 25px;
				margin-top: 5px;
			}
		}

		.authors {
			list-style: none;
			margin: 0;
			padding: 0;

			li {
				a {
					align-items: center;
					color: #666;
					display: flex;
					line-height: 1.1;
				}

				img {
					border-radius: 50%;
					margin-right: 10px;
					vertical-align: middle;
					width: 28px;
				}
			}

			.twitter {
				font-size: 90%;
			}
		}

		.perex {
			color: #333;
			font-size: 105%;
			margin-bottom: 25px;
		}

		.read-more {
			font-size: 85%;
			font-weight: 400;
			text-align: center;
			text-transform: uppercase;
		}
	}

	.post-detail {
		p {
			margin-bottom: 1.75em;
		}

		img {
			max-width: 100%;
		}

		h2, h3 {
			font-weight: 600;
		}

		.label-beta {
			background: rgb(231, 35, 88);
			border-radius: 3px;
			color: hsl(343, 80%, 92%);
			font-size: 70%;
			padding: 2px 4px;
			text-transform: uppercase;
		}
	}
}
