.blog {
	.post {
		line-height: 1.7;
		margin: 50px 0 80px;

		.metadata {
			align-items: flex-end;
			display: flex;
			justify-content: space-between;
		}

		.date {
			color: #555;
			font-size: 90%;
		}

		.title {
			color: #000;
			line-height: 1.2;

			&:hover {
				text-decoration: none;

				h1 {
					text-decoration: underline;
				}
			}

			h1 {
				font-size: 140%;
				font-weight: 400;
				margin: 20px 0;
			}
		}

		.authors {
			font-size: 90%;
			list-style: none;
			margin: 0;
			padding: 0;

			li {
				align-items: center;
				display: flex;
				line-height: 1.1;

				img {
					border-radius: 50%;
					margin-right: 6px;
					vertical-align: middle;
					width: 30px;
				}
			}

			.twitter {
				font-size: 90%;
			}
		}

		.read-more {
			font-size: 85%;
			font-weight: 400;
			text-transform: uppercase;
		}
	}

	.post-detail {
		margin-top: 30px;

		.title {
			h1 {
				font-size: 185%;
				margin: 30px 0;
			}
		}

		p {
			margin-bottom: 1.75em;
		}

		img {
			max-width: 100%;
		}

		.label-beta {
			background: rgb(231, 35, 88);
			border-radius: 3px;
			color: hsl(343, 80%, 92%);
			font-size: 70%;
			padding: 2px 4px;
			text-transform: uppercase;
		}
	}
}
