.changelog-nav {
	text-align: center;

	ul {
		display: inline-block;
		list-style: none;
		margin: 110px auto 0;
		padding: 0;

		&:after {
			clear: both;
			content: "";
			display: block;
		}
	}

	li {
		float: left;
	}

	a {
		border-bottom: 1px solid #ccc;
		color: #666;
		display: block;
		padding: 8px 16px;
		text-decoration: none;

		&.selected {
			border: 1px solid #ccc;
			border-bottom: none;
			border-radius: 2px 2px 0 0;
		}
	}
}

.changelog {
	.section-heading {
		text-align: center;

		h3 {
			margin-bottom: 0;
		}

		.date {
			font-size: 90%;
		}
	}

	ul {
		margin: 0;
		padding: 0;

		.added {
			color: #6c9800;
		}

		.changed {
			color: rgb(52, 114, 207);
		}

		.fixed {
			color: rgb(231, 15, 60);
		}

		li {
			margin-bottom: 5px;
		}
	}
}
