.home-block-clockwork {
	text-align: center;

	h1 {
		font-size: 240%;
		margin-bottom: 0;
	}

	h2 {
		font-size: 150%;
		margin-top: 0;
	}

	img {
		max-height: 500px;
		max-width: 100%;
	}

	.more {
		margin-top: 0;

		@include breakpoint($tablet-screen) {
			margin-top: -10px;
		}
	}
}

.home-block-createdBy {
	margin-top: 100px;

	h1 {
		font-size: 120%;
		font-weight: 600;
		margin-bottom: 50px;
		text-align: center;
	}

	strong {
		font-weight: 500;
	}

	.avatar {
		border-radius: 50%;
		margin: 0 16px 0 6px;
		vertical-align: middle;
		width: 48px;
	}

	.author {
		align-items: center;
		display: flex;
		margin-bottom: 30px;
	}

	.limited-width {
		max-width: 600px;
	}
}
