.home-block-clockwork {
	margin-top: 60px;

	h1 {
		font-size: 250%;
		font-weight: 700;
		margin-bottom: 0;
	}

	h2 {
		font-size: 120%;
		margin-bottom: 8px;
		margin-top: 0;
	}

	a {
		color: #222;
	}

	p {
		color: #333;
		font-size: 105%;
	}

	img {
		// screenshot is 2640px wide with the browser window ~2418px wide
		margin-left: -5%;
		max-width: 110%;
	}

	.more {
		margin-top: 0;

		@include breakpoint($tablet-screen) {
			margin-top: -10px;
		}
	}
}

.home-block-createdBy {
	margin-bottom: 20px;
	margin-top: 100px;

	h1 {
		font-size: 175%;
		font-weight: 700;
		margin-bottom: 25px;
	}

	.maintainers {
		margin-bottom: 35px;

		.maintainers-maintainer {
			align-items: center;
			display: flex;

			.maintainer-avatar {
				border-radius: 50%;
				height: 48px;
				margin-right: 20px;
				overflow: hidden;
				width: 48px;

				img {
					height: 100%;
					object-fit: cover;
					width: 100%;
				}
			}

			.maintainer-info {
				flex: 1;

				h2 {
					font-size: 100%;
					font-weight: 600;
					line-height: 1.5;
					margin: 0;
				}

				p {
					color: #333;
					font-size: 90%;
					margin: 0;
				}
			}

			.maintainer-links {
				margin-left: 5px;

				a {
					color: #444;
					margin-left: 15px;

					svg {
						stroke-width: 1.5px;
					}

					&:hover {
						color: #000;
						text-decoration: none;
					}
				}
			}
		}
	}

	.contributors {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-left: -5px;
		width: calc(100% + 10px);

		.contributors-contributor {
			align-items: center;
			display: flex;

			.contributor-avatar {
				border-radius: 50%;
				height: 48px;
				margin: 0 5px 10px;
				overflow: hidden;
				width: 48px;

				img {
					height: 100%;
					object-fit: cover;
					width: 100%;
				}
			}
		}

		.contributors-link {
			align-items: center;
			background: #f3f3f3;
			border-radius: 24px;
			color: #333;
			display: flex;
			height: 48px;
			margin: 0 5px 10px;
			padding: 0 20px;

			&:hover {
				background: #eee;
				text-decoration: none;

				svg {
					fill: #ea4aaa;
				}
			}

			svg {
				color: #ea4aaa;
				margin-right: 10px;
			}
		}

		.contributors-filler {
			flex: 1;
		}
	}
}

.home-block-sponsoredBy {
	margin-bottom: 20px;
	margin-top: 100px;

	h1 {
		font-size: 175%;
		font-weight: 700;
		margin-bottom: 25px;
	}

	.sponsors-intro {
		font-size: 90%;
		margin-bottom: 35px;
	}

	.sponsors {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-left: -5px;
		width: calc(100% + 10px);

		.sponsors-sponsor {
			align-items: center;
			display: flex;

			.sponsor-avatar {
				border-radius: 50%;
				height: 48px;
				margin: 0 5px 10px;
				overflow: hidden;
				width: 48px;

				img {
					height: 100%;
					object-fit: cover;
					width: 100%;
				}
			}
		}

		.sponsors-link {
			align-items: center;
			background: #f3f3f3;
			border-radius: 24px;
			color: #333;
			display: flex;
			height: 48px;
			margin: 0 5px 10px;
			padding: 0 20px;

			&:hover {
				background: #eee;
				text-decoration: none;

				svg {
					fill: #ea4aaa;
				}
			}

			svg {
				color: #ea4aaa;
				margin-right: 10px;
			}
		}

		.sponsors-filler {
			flex: 1;
		}
	}
}
