<ul class="authors">
	{% for author in post.authors %}
		<li>
			<a href="https://twitter.com/{{ author.twitter }}" target="_blank">
				<div>
					<img src="{{ author.imageUrl }}">
				</div>
				<div>
					{{ author.name }}
				</div>
			</a>
		</li>
	{% endfor %}
</ul>
