<ul class="authors">
	{% for author in post.authors %}
		<li>
			<div>
				<img src="{{ author.imageUrl }}">
			</div>
			<div>
				{{ author.name }}<br>
				{% if author.twitter %}
					<a href="https://twitter.com/{{ author.twitter }}" target="_blank" class="twitter">
						@{{ author.twitter }}
					</a>
				{% endif %}
			</div>
		</li>
	{% endfor %}
</ul>
