.limited-width {
	margin: 0 auto;
	width: 90%;

	@include breakpoint($computer-screen) {
		width: 65%;
	}
}

.site-header {
	align-items: center;
	display: flex;
	font-size: 110%;
	justify-content: space-between;
	padding: 30px 0;

	h1 {
		font-size: 100%;
		margin: 0;
	}

	nav {
		ul {
			display: flex;
			list-style: none;
			margin: 0;
			padding: 0;
		}

		a {
			color: #000;
			display: block;
			padding: 6px;

			@include breakpoint($computer-screen) {
				padding: 6px 18px;
			}

			&:hover {
				font-weight: 400;
				text-decoration: none;
			}
		}
	}
}

.site-footer {
	padding: 20px 0 70px;
	text-align: center;
}
