<p>Install the Clockwork library via <a href="https://getcomposer.org/">Composer</a>.</p>

<code class="block">$ composer require itsgoingd/clockwork</code>

<p>Once Clockwork is installed, you need to register the Clockwork service provider, in your <code>bootstrap/app.php</code>:</p>

<code class="block">$app->register(Clockwork\Support\Lumen\ClockworkServiceProvider::class);</code>

<p>You also need to add the Clockwork middleware, in the same file:</p>

<code class="block">$app->middleware([
...
Clockwork\Support\Lumen\ClockworkMiddleware::class
]);
</code>

<p>By default, Clockwork will only be available in debug mode (<code>APP_DEBUG</code> set to <code>true</code>), you can change this and other settings via environment variables. Simply specify the setting as environment variable prefixed with <code>CLOCKWORK_</code>, eg. <code>CLOCKWORK_ENABLE</code>, <a href="https://raw.githubusercontent.com/itsgoingd/clockwork/v1/Clockwork/Support/Laravel/config/clockwork.php">full list of available settings</a>.</p>

<p>Clockwork also comes with a <code>clock()</code> helper function (see examples above) and a facade thats automatically registered when you enable facades in your bootstrap/app.php.</p>
