<p>Install the Clockwork library via <a href="https://getcomposer.org/">Composer</a>.</p>

<code class="block">$ composer require itsgoingd/clockwork</code>

<p>Once Clockwork is installed, you need to add Slim middleware to your app:</p>

<code class="block">$app = new Slim(...);
$app->add(new Clockwork\Support\Slim\ClockworkMiddleware('/requests/storage/path'));
</code>

<p>Clockwork is now available in Slim's DI container and can be used like this:</p>

<code class="block">$app = Slim::getInstance();

$app->clockwork->startEvent('event_name', 'Event description.'); // event called 'Event description.' appears in Clockwork timeline tab

$app->clockwork->info('Message text.'); // 'Message text.' appears in Clockwork log tab
$app->log->info('Message text.'); // 'Message text.' appears in Clockwork log tab as well as application log file

$app->clockwork->endEvent('event_name');
</code>
