{% extends 'layout' %}

{% block content %}
	<div class="changelog-nav">
		<ul>
			<li><a href="#clockwork" class="selected">Clockwork server-side</a></li>
			<li><a href="#clockwork-chrome">Clockwork Chrome</a></li>
		</ul>
	</div>

	<article class="changelog clockwork">
		<section class="section">
			<div class="section-content">
				<div class="section-heading">
					<h3>1.12</h3>
					<span class="date">18 Jun 2016</span>
				</div>

				<div class="section-text">
					<ul>
						<li class="added">added collecting of caller file name and line number for queries and model name (Laravel 4.2+) for ORM queries to the Eloquent data source (thanks OmarMakled and fitztrev for the idea)</li>
						<li class="added">added collecting of context, caller file name and line number to the logger (thanks crissi for the idea)</li>
						<li class="fixed">fixed crash in Lumen data source when running unit tests with simulated requests on Lumen</li>
						<li class="fixed">fixed compatibility with Laravel 4.0</li>
					</ul>
				</div>
			</div>
		</section>

		<section class="section">
			<div class="section-content">
				<div class="section-heading">
					<h3>1.11.2</h3>
					<span class="date">19 May 2016</span>
				</div>

				<div class="section-text">
					<ul>
						<li class="changed">switched to PSR-4 autoloading</li>
						<li class="fixed">fixed Swift data source crash when sending email with no from/to address specified (thanks marksecurelogin)</li>
					</ul>
				</div>
			</div>
		</section>

		<section class="section">
			<div class="section-content">
				<div class="section-heading">
					<h3>1.11.1</h3>
					<span class="date">17 Mar 2016</span>
				</div>

				<div class="section-text">
					<ul>
						<li class="added">added support for DateTimeImmutable in Doctrine data source (thanks morfin)</li>
						<li class="fixed">fixed not being able to log null values via the "clock" helper function</li>
						<li class="fixed">fixed Laravel 4.2-dev not being properly detected as 4.2 release (thanks DemianD)</li>
					</ul>
				</div>
			</div>
		</section>

		<section class="section">
			<div class="section-content">
				<div class="section-heading">
					<h3>1.11</h3>
					<span class="date">23 Feb 2016</span>
				</div>

				<div class="section-text">
					<ul>
						<li class="added">added support for Lumen 5.2 (thanks lukeed)</li>
						<li class="added">added "clock" helper function</li>
						<li class="changed">removed Laravel log dependency from Doctrine data source</li>
						<li class="fixed">fixed data sources being initialized too late (thanks morfin)</li>
						<li class="fixed">fixed code style in Doctrine data source</li>
						<li>NOTE laravel-doctrine provides ootb support for Clockwork, you should use this instead of included Doctrine data source with Laravel</li>
					</ul>
				</div>
			</div>
		</section>

		<section class="section">
			<div class="section-content">
				<div class="section-heading">
					<h3>1.10.1</h3>
					<span class="date">7 Jan 2016</span>
				</div>

				<div class="section-text">
					<ul>
						<li class="fixed">fixed collecting of database queries in Laravel 5.2 (thanks sebastiandedeyne)</li>
					</ul>
				</div>
			</div>
		</section>

		<section class="section">
			<div class="section-content">
				<div class="section-heading">
					<h3>1.10</h3>
					<span class="date">23 Dec 2015</span>
				</div>

				<div class="section-text">
					<ul>
						<li class="added">added Laravel 5.2 support (thanks jonphipps)</li>
						<li class="added">improved file storage to allow configuring directory permissions (thanks patrick-radius)</li>
						<li class="fixed">fixed interaction with PHPUnit in Lumen (thanks troyharvey)</li>
						<li class="fixed">removed "router dispatch" timeline event for now (due to Laravel 5.2 changes)</li>
					</ul>
				</div>
			</div>
		</section>

		<section class="section">
			<div class="section-content">
				<div class="section-heading">
					<h3>1.9</h3>
					<span class="date">1 Sep 2015</span>
				</div>

				<div class="section-text">
					<ul>
						<li class="added">added Lumen support (thanks dawiyo)</li>
						<li class="added">added aliases for all Clockwork parts so they can be resolved by the IoC container in Laravel and Lumen</li>
						<li class="fixed">fixed Laravel framework initialisation, booting and running timeline events not being recorded properly (thanks HipsterJazzbo, sisve)</li>
						<li class="fixed">fixed how Laravel clockwork:clean artisan command is registered (thanks freekmurze)</li>
						<li class="fixed">removed Lumen framework initialisation, booting and running timeline events as they are not supported by Lumen</li>
					</ul>
				</div>
			</div>
		</section>

		<section class="section">
			<div class="section-content">
				<div class="section-heading">
					<h3>1.8.1</h3>
					<span class="date">6 Jul 2015</span>
				</div>

				<div class="section-text">
					<ul>
						<li class="fixed">fixed SQL data storage initialization if PDO is set to throw exception on error (thanks YOzaz)</li>
					</ul>
				</div>
			</div>
		</section>

		<section class="section">
			<div class="section-content">
				<div class="section-heading">
					<h3>1.8</h3>
					<span class="date">3 Jul 2015</span>
				</div>

				<div class="section-text">
					<ul>
						<li class="added">added SQL data storage implementation</li>
						<li class="added">added new config options for data storage for Laravel (please re-publish the config file)</li>
						<li class="fixed">fixed not being able to use the Larvel route caching when using Clockwork (thanks Garbee, kylestev, cbakker86)</li>
					</ul>
				</div>
			</div>
		</section>

		<section class="section">
			<div class="section-content">
				<div class="section-heading">
					<h3>1.7</h3>
					<span class="date">4 Feb 2015</span>
				</div>

				<div class="section-text">
					<ul>
						<li class="added">added support for Laravel 5 (thanks Garbee, slovenianGooner)</li>
						<li class="added">improved support for Laravel 4.1 and 4.2, Clockwork data is now available for error responses</li>
						<li class="added">added Doctrine data source (thanks matiux)</li>
						<li class="fixed">fixed compatibility with some old PHP 5.3 versions (thanks hailwood)</li>
						<li class="changed">updated Laravel data source to capture the context for log messages (thanks hermanzhu)</li>
					</ul>
				</div>
			</div>
		</section>

		<section class="section">
			<div class="section-content">
				<div class="section-heading">
					<h3>1.6</h3>
					<span class="date">25 Sep 2014</span>
				</div>

				<div class="section-text">
					<ul>
						<li class="added">improved Eloquent data source to support multiple databases (thanks ingro)</li>
						<li class="added">improved compatibility with Laravel apps not using database</li>
						<li class="added">improved compatibility with various CodeIngiter installations</li>
						<li class="fixed">fixed a bug where log messages and timeline data might not be sorted correctly</li>
						<li class="fixed">fixed missing static keyword in CodeIgniter hook (thanks noevidenz)</li>
						<li class="changed">changed Timeline::endEvent behavior to return false instead of throwing exception when called for non-existing event</li>
					</ul>
				</div>
			</div>
		</section>

		<section class="section">
			<div class="section-content">
				<div class="section-heading">
					<h3>1.5</h3>
					<span class="date">14 Feb 2014</span>
				</div>

				<div class="section-text">
					<ul>
						<li class="added">improved Slim support to use DI container to share Clockwork instance instead of config</li>
						<li class="added">improved Slim support now adds all messages logged via Slim's log interface to Clockwork log as well</li>
						<li class="added">improved CodeIgniter support to make Clockwork available through the CI app (tnx BradEstey)</li>
						<li class="fixed">fixed Laravel support breaking flash messages (tnx hannesvdvreken)</li>
						<li class="fixed">fixed CodeIgniter support PSR-0 autoloading and other improvements (tnx pwhelan)</li>
						<li class="fixed">fixed file storage warning when recursive data is collected</li>
					</ul>
				</div>
			</div>
		</section>

		<section class="section">
			<div class="section-content">
				<div class="section-heading">
					<h3>1.4.4</h3>
					<span class="date">22 Jan 2014</span>
				</div>

				<div class="section-text">
					<ul>
						<li class="added">changed Laravel support to disable permanent data collection by default (tnx jenssegers)</li>
						<li class="added">improved Laravel support to return Clockwork data with proper Content-Type (tnx maximebeaudoin)</li>
						<li class="fixed">fixed CodeIgniter support compatibility with PHP 5.3 (tnx BradEstey)</li>
					</ul>
				</div>
			</div>
		</section>

		<section class="section">
			<div class="section-content">
				<div class="section-heading">
					<h3>1.4.3</h3>
					<span class="date">14 Jan 2014</span>
				</div>

				<div class="section-text">
					<ul>
						<li class="fixed">fixed incorrect requests ids being generated depending on set locale</li>
					</ul>
				</div>
			</div>
		</section>

		<section class="section">
			<div class="section-content">
				<div class="section-heading">
					<h3>1.4.2</h3>
					<span class="date">13 Jan 2014</span>
				</div>

				<div class="section-text">
					<ul>
						<li class="fixed">fixed Laravel support compatibility with PHP 5.3</li>
					</ul>
				</div>
			</div>
		</section>

		<section class="section">
			<div class="section-content">
				<div class="section-heading">
					<h3>1.4.1</h3>
					<span class="date">13 Jan 2014</span>
				</div>

				<div class="section-text">
					<ul>
						<li class="fixed">fixed Laravel support compatibility with PHP 5.3</li>
					</ul>
				</div>
			</div>
		</section>

		<section class="section">
			<div class="section-content">
				<div class="section-heading">
					<h3>1.4</h3>
					<span class="date">12 Jan 2014</span>
				</div>

				<div class="section-text">
					<ul>
						<li class="added">added support for collecting emails and views data</li>
						<li class="added">added support for CodeIgniter 2.1 (tnx pwhelan)</li>
						<li class="added">added data source and plugin for collecting emails data from Swift mailer</li>
						<li class="added">added support for collecting emails and views data from Laravel</li>
						<li class="added">added --age argument to Laravel artisan clockwork::clean command, specifies how old the request data must be to be deleted (in hours)</li>
						<li class="changed">improved Laravel service provider</li>
						<li class="fixed">fixed compatibilty with latest Laravel 4.1</li>
					</ul>
				</div>
			</div>
		</section>

		<section class="section">
			<div class="section-content">
				<div class="section-heading">
					<h3>1.3</h3>
					<span class="date">20 Dec 2013</span>
				</div>

				<div class="section-text">
					<ul>
						<li><strong>NOTE: Clockwork\Request\Log::log method arguments have been changed from log($message, $level) to log($level, $message), levels are now specified via Psr\Log\LogLevel class, it's recommended to use shortcut methods for various levels (emergency, alert, critical, error, warning, notice, info and debug($message))</strong></li>
						<li class="added">clockwork log class now implements PSR logger interface, updated Laravel and Monolog support to use all available log levels</li>
						<li class="added">clockwork log now accepts objects and arrays as input and logs their json representation</li>
						<li class="added">added support for specifying additional headers on metadata requests (Laravel) (tnx philsturgeon)</li>
					</ul>
				</div>
			</div>
		</section>

		<section class="section">
			<div class="section-content">
				<div class="section-heading">
					<h3>1.2</h3>
					<span class="date">5 Dec 2013</span>
				</div>

				<div class="section-text">
					<ul>
						<li class="added">added support for Laravel 4.1</li>
						<li class="added">added facade for Laravel</li>
						<li class="added">added ability to disable collecting data about requests to specified URIs in Laravel</li>
						<li class="added">added clockwork:clean artisan command for cleaning request metadata for Laravel</li>
						<li class="added">added an easy way to add timeline events and log records via main Clockwork class</li>
						<li class="added">added support for Slim apps running in subdirs (requires Clockwork Chrome 1.1+)</li>
						<li class="added">file storage now creates default gitignore file for the request data when creating the storage dir</li>
						<li class="fixed">fixed a few bugs which might cause request data to not appear in Chrome extension</li>
						<li class="fixed">fixed a few bugs that could lead to PHP errors/exceptions</li>
					</ul>
				</div>
			</div>
		</section>

		<section class="section">
			<div class="section-content">
				<div class="section-heading">
					<h3>1.1</h3>
					<span class="date">27 Sep 2013</span>
				</div>

				<div class="section-text">
					<ul>
						<li class="added">added support for Laravel 4 apps running in subdirs (requires Clockwork Chrome 1.1+)</li>
						<li class="added">added data-protocol version to the request data</li>
						<li class="fixed">updated Laravel 4 service provider to work with Clockwork Web</li>
						<li class="fixed">fixed a bug where Clockwork would break Laravel 4 apps not using database</li>
						<li class="fixed">fixed a bug where calling Timeline::endEvent after Timeline::finalize caused exception to be thrown</li>
						<li class="fixed">fixed a bug where using certain filters would store incorrect data</li>
					</ul>
				</div>
			</div>
		</section>

		<section class="section">
			<div class="section-content">
				<div class="section-heading">
					<h3>0.9.1</h3>
					<span class="date">10 Jul 2013</span>
				</div>

				<div class="section-text">
					<ul>
						<li class="added">added support for application routes (ootb support for Laravel 4 only atm)</li>
						<li class="added">added configuration file for Laravel 4</li>
						<li class="added">added support for filtering stored data in Storage</li>
						<li class="added">added library version constant Clockwork::VERSION</li>
					</ul>
				</div>
			</div>
		</section>

		<section class="section">
			<div class="section-content">
				<div class="section-heading">
					<h3>0.9.0</h3>
					<span class="date">24 Jun 2013</span>
				</div>

				<div class="section-text">
					<ul>
						<li>initial release</li>
					</ul>
				</div>
			</div>
		</section>

	</article>

	<article class="changelog clockwork-chrome hidden">

		<section class="section">
			<div class="section-content">
				<div class="section-heading">
					<h3>1.6</h3>
					<span class="date">18 Jun 2016</span>
				</div>

				<div class="section-text">
					<ul>
						<li class="added">added support for model and caller file name and line number in database tab (thanks OmarMakled and fitztrev for the idea)</li>
						<li class="added">added support for caller file name and line number in log tab (thanks crissi for the idea)</li>
						<li class="added">added support for context in the log tab (thanks crissi for the idea)</li>
						<li class="changed">improved pretty jason component to lazy-render objects improving UI performance a ton when logging large objects like Eloquent collections</li>
						<li class="changed">updated angular, jquery and other 3rd party libraries</li>
						<li class="changed">cleaned up and refactored some internal parts</li>
						<li class="fixed">fixed sorting of database, log, view and emails tables not working</li>
						<li class="fixed">fixed minor style issues with requests list error/warning count overlay on dark background</li>
						<li class="fixed">fixed HTML injection in the pretty-jason component</li>
					</ul>
				</div>
			</div>
		</section>

		<section class="section">
			<div class="section-content">
				<div class="section-heading">
					<h3>1.5</h3>
					<span class="date">31 Jul 2015</span>
				</div>

				<div class="section-text">
					<ul>
						<li class="added">added support for resizing requests table columns</li>
						<li class="added">added tooltips to requests table showing cell values</li>
						<li class="added">added errors and warnings counts to the requests table</li>
						<li class="changed">changed incoming requests behavior, incoming requests are no longer automatically shown when other then last request was manually selected, selecting last request or clearing requests resets the default behaviour</li>
						<li class="changed">changed toolbar implementation to a custom one to save some vertical space</li>
						<li class="changed">changed timeline and log tabs to not be shown when there are no records to show</li>
						<li class="fixed">fixed requests table not scrolling to new requests properly</li>
					</ul>
				</div>
			</div>
		</section>

		<section class="section">
			<div class="section-content">
				<div class="section-heading">
					<h3>1.4.3</h3>
					<span class="date">5 Nov 2014</span>
				</div>

				<div class="section-text">
					<ul>
						<li class="fixed">fixed compatibility with web server sending lowercase headers (thanks EvanDarwin)</li>
					</ul>
				</div>
			</div>
		</section>

		<section class="section">
			<div class="section-content">
				<div class="section-heading">
					<h3>1.4.2</h3>
					<span class="date">25 Sep 2014</span>
				</div>

				<div class="section-text">
					<ul>
						<li class="added">added connection column to database tab when there are queries from multiple connections in request data</li>
					</ul>
				</div>
			</div>
		</section>

		<section class="section">
			<div class="section-content">
				<div class="section-heading">
					<h3>1.4.1</h3>
					<span class="date">14 Feb 2014</span>
				</div>

				<div class="section-text">
					<ul>
						<li class="fixed">fixed a bug where numeric values were displayed as empty objects</li>
					</ul>
				</div>
			</div>
		</section>

		<section class="section">
			<div class="section-content">
				<div class="section-heading">
					<h3>1.4</h3>
					<span class="date">12 Jan 2014</span>
				</div>

				<div class="section-text">
					<ul>
						<li class="added">added views and emails tabs</li>
						<li class="changed">empty tabs are no longer shown</li>
						<li class="changed">improved compatibility when incomplete data is received</li>
					</ul>
				</div>
			</div>
		</section>

		<section class="section">
			<div class="section-content">
				<div class="section-heading">
					<h3>1.3.1</h3>
					<span class="date">20 Dec 2013</span>
				</div>

				<div class="section-text">
					<ul>
						<li class="added">added support for custom headers on metadata requests specified by client via X-Clockwork-Header-NAME headers</li>
						<li class="changed">log level is now specified as string by client, allowing any level names</li>
						<li class="fixed">fixed non-string and object values not being pretty-printed correctly</li>
					</ul>
				</div>
			</div>
		</section>

		<section class="section">
			<div class="section-content">
				<div class="section-heading">
					<h3>1.2</h3>
					<span class="date">5 Dec 2013</span>
				</div>

				<div class="section-text">
					<ul>
						<li class="added">updated design for the new flatter dev tools look comming in Chrome 32</li>
						<li class="added">json values in request data, logs, session and cookies now displayed as interactive elements similar to Chrome javascript console</li>
						<li class="fixed">fixed compatibility with some older versions of the Clockwork php library</li>
						<li class="fixed">fixed wrong order of the timeline events</li>
					</ul>
				</div>
			</div>
		</section>

		<section class="section">
			<div class="section-content">
				<div class="section-heading">
					<h3>1.1</h3>
					<span class="date">27 Sep 2013</span>
				</div>

				<div class="section-text">
					<ul>
						<li class="added">added support for custom Clockwork data uri (used for apps running in subdirs for example)</li>
					</ul>
				</div>
			</div>
		</section>

		<section class="section">
			<div class="section-content">
				<div class="section-heading">
					<h3>1.0</h3>
					<span class="date">21 Sep 2013</span>
				</div>

				<div class="section-text">
					<ul>
						<li class="added">released on Chrome Web Store! - https://chrome.google.com/webstore/detail/clockwork/dmggabnehkmmfmdffgajcflpdjlnoemp</li>
						<li class="added">added new standalone web app version - https://github.com/itsgoingd/clockwork-web</li>
						<li class="changed">changed extension logo</li>
					</ul>
				</div>
			</div>
		</section>

		<section class="section">
			<div class="section-content">
				<div class="section-heading">
					<h3>0.9.1</h3>
					<span class="date">10 Jul 2013</span>
				</div>

				<div class="section-text">
					<ul>
						<li class="added">added application routes tab</li>
					</ul>
				</div>
			</div>
		</section>

		<section class="section">
			<div class="section-content">
				<div class="section-heading">
					<h3>0.9.0</h3>
					<span class="date">24 Jun 2013</span>
				</div>

				<div class="section-text">
					<ul>
						<li>initial release</li>
					</ul>
				</div>
			</div>
		</section>

	</article>
{% endblock %}

{% block scripts %}
	<script>$(function(){ new ChangelogView })</script>
{% endblock %}
